JMC-B1-APIs-Handheld/src/main/app/API/b1_hh_getUserRoles.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="b1_hh_getUserRoles">
        <http:listener config-ref="HTTP_Listener_Configuration" path="getUserRoles" allowedMethods="GET" doc:name="HTTP"/>
        <expression-component doc:name="Save input information"><![CDATA[flowVars.input = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));
payload = acqua.util.WorkUtils.newHashMap();
payload.value = flowVars.input;
flowVars.code = message.inboundProperties.'http.query.params'.code
payload.response = "The input data is return in value.";]]></expression-component>
        <flow-ref name="b1_hh_global_setDBInfo" doc:name="b1_hh_global_setDBInfo"/>

		<transformer ref="FetchUserRoles" doc:name="FetchUserRoles"/>
            
        <expression-component doc:name="Convert answer to JSON"><![CDATA[payload = acqua.util.JSONUtil.javaToJSONToString(payload);]]></expression-component>
        <logger message="Returning validateLogin #[payload]" level="INFO" doc:name="Logger" category="jmc_hh"/>
    </flow>
</mule>
