JMC-B1-APIs-Handheld/src/main/app/API/b1_hh_getDepositosTransferencias.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="b1_hh_getDepositosTransferenciasFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="getDepositosTransferencias" doc:name="HTTP" allowedMethods="POST"/>
        <logger message="getDepositosTransferencias Input: #[message.payloadAs(java.lang.String)]" level="INFO" category="jmc_hh" doc:name="Logger"/>
        <expression-component doc:name="save info"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));
flowVars.sociedad = payload.sociedad;]]></expression-component>
        <flow-ref name="b1_hh_global_setDBInfo" doc:name="set DB info "/>
        <transformer ref="fetchDepositosTransferencias" doc:name="fetch DepositosTransferencias"/>
        <expression-component doc:name="Convert to JSON"><![CDATA[payload = acqua.util.JSONUtil.javaToJSONToString(payload);]]></expression-component>
        <logger message="getDepositosTransferencias respuesta: #[payload]" level="INFO" category="jmc_hh" doc:name="Logger"/>
    </flow>
</mule>
