JMC-B1-APIs-Handheld/src/main/app/API/b1_hh_updateRecuentoInventario.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="b1_hh_updateRecuentoInventarioOffLineFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/updateRecuentoInventarioOffLine" allowedMethods="POST" doc:name="HTTP"/>
		<logger message="updateRecuentoInventarioOffLine recibido: #[message.payloadAs(java.lang.String)]" level="INFO" category="jmc_hh" doc:name="Logger"/>
		<transformer ref="BuildRecuentoInventarioOffLine" doc:name="Build Recuento Inventario OffLine"/>
		<logger message="#[payload]" level="INFO" category="jmc_hh" doc:name="Logger"/>
	</flow>
    <flow name="b1_hh_updateRecuentoInventarioFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="updateRecuentoInventario" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="updateRecuentoInventario recibido: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger" category="jmc_hh"/>
        <expression-component doc:name="Convert and save payload"><![CDATA[flowVars.inputData = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));
flowVars.sociedad = flowVars.inputData.sociedad;
flowVars.codigoInterno = flowVars.inputData.codigoInterno;
flowVars.AbsEntry = flowVars.inputData.codigoubicacion;
flowVars.articulos = flowVars.inputData.articulos;
flowVars.BinCode = flowVars.inputData.ubicacion;
flowVars.codigo = flowVars.inputData.codigo;]]></expression-component>
        <flow-ref name="b1_hh_global_setDBInfo" doc:name="Copy_of_set DB info "/>

        <enricher source="#[payload]" target="#[flowVars.articulos]" doc:name="Message Enricher">
            <flow-ref name="b1_hh_updateRecuentoInventario_FillUoMCode" doc:name="Fill UoM Data"/>
        </enricher>
		<enricher source="#[payload]" target="#[flowVars.codigoInterno]" doc:name="Message Enricher">
			<transformer ref="fetchRecuperaNroDocInternoRecuento" doc:name="Recupera DocInterno"/>
		</enricher>
        <enricher source="#[payload]" target="#[flowVars.existentes]" doc:name="Message Enricher">
            <transformer ref="fetchLineasOrdenRecuento" doc:name="Get Lineas Orden Recuento"/>
        </enricher>
        <transformer ref="BuildRecuentoInventario" doc:name="Build Recuento Inventario"/>
        <expression-component doc:name="save data"><![CDATA[flowVars.documentSaved = acqua.util.JSONUtil.javaToJSONToString(payload);
flowVars.destination = flowVars.sociedad;]]></expression-component>
        <flow-ref name="b1_hh_loginToSAP" doc:name="login to SAP"/>
        <flow-ref name="b1_hh_updateRecuentoInventario_SendDocument" doc:name="Send Document"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger" category="jmc_hh"/>
    </flow>
    <flow name="b1_hh_updateRecuentoInventario_FillUoMCode">
        <transformer ref="fetchUoMCode" doc:name="Fill UoM Data"/>
    </flow>
    <flow name="b1_hh_updateRecuentoInventario_SendDocument">
        <choice doc:name="Choice">
            <when expression="#[flowVars.loginResult.equals(&quot;OK&quot;)]">
                <set-payload value="#[flowVars.documentSaved]" doc:name="Set saved document as payload"/>
                <http:request config-ref="HTTP_Request_Configuration" path="InventoryCountings(#[flowVars.codigoInterno])" method="PUT" doc:name="Update inventory counting">
                    <http:success-status-code-validator values="200..299,404,400"/>
                </http:request>
                <choice doc:name="Choice">
                    <when expression="#[message.inboundProperties['http.status'] == 200 || message.inboundProperties['http.status'] == 204]">
                        <expression-component doc:name="Answer"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));]]></expression-component>
                        <set-payload value="{&quot;resultado&quot;:true}" doc:name="Set Payload"/>
                    </when>
                    <when expression="#[message.inboundProperties['http.status'] == 400]">
                        <expression-component doc:name="Set variables for report"><![CDATA[flowVars.status = message.inboundProperties["http.status"];
flowVars.reason = message.inboundProperties["http.reason"];
flowVars.payloadSent = flowVars.documentSaved;
flowVars.responseRecived = message.payloadAs(java.lang.String);
flowVars.method = "updateRecuentoInventario (InventoryCountings)";
flowVars.requestURL = "PUT";]]></expression-component>
                        <expression-component doc:name="Convert to hash"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));]]></expression-component>
                        <set-payload value="{&quot;resultado&quot; : false, &quot;mensaje&quot;:&quot;#[acqua.util.WorkUtils.replaceAll(payload.error.message.value)]&quot;}" doc:name="Set Payload"/>
                        <expression-component doc:name="save payload"><![CDATA[flowVars.savePayloadForAnswer = payload;]]></expression-component>
                        <flow-ref name="B1_Sync_EmailReportingFlow" doc:name="Email report"/>
                        <expression-component doc:name="re-set payload"><![CDATA[payload = flowVars.savePayloadForAnswer;]]></expression-component>
                    </when>
                    <otherwise>
                        <expression-component doc:name="Set variables for report"><![CDATA[flowVars.status = message.inboundProperties["http.status"];
flowVars.reason = message.inboundProperties["http.reason"];
flowVars.payloadSent = flowVars.documentSaved;
flowVars.responseRecived = message.payloadAs(java.lang.String);
flowVars.method = "updateRecuentoInventario (InventoryCountings)";
flowVars.requestURL = "PUT";]]></expression-component>
                        <flow-ref name="B1_Sync_EmailReportingFlow" doc:name="Email Report"/>
                        <set-payload value="{&quot;resultado&quot; : false, &quot;mensaje&quot;:&quot;#[acqua.util.WorkUtils.replaceAll(message.payloadAs(java.lang.String))]&quot;}" doc:name="Set Payload"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <set-payload value="{&quot;resultado&quot;:false,&quot;mensaje&quot;:&quot;Error de login a sociedad, checkear logs&quot;} " doc:name="Set answer for failure"/>
            </otherwise>
        </choice>
    </flow>
</mule>
