JMC-B1-APIs-Handheld/src/main/app/API/b1_hh_CsvFileUtil.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <sub-flow name="create-file-parameters-jmc-picklist">
        <expression-component doc:name="Setup parameters"><![CDATA[flowVars.csvFileDir = ${csvfile.directory};
flowVars.csvFileDir = flowVars.csvFileDir.replaceAll("\\","\\\\");

flowVars.csvFileName = ${csvfile.name.pick} + flowVars.pickCode;
]]></expression-component>
        <logger message="Subflow create-file-parameters-jmc-picklist ended." level="INFO" category="jmc_hh" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="create-file-parameters-jmc-counting">
        <expression-component doc:name="Setup parameters"><![CDATA[flowVars.csvFileDir = ${csvfile.directory};
flowVars.csvFileDir = flowVars.csvFileDir.replaceAll("\\","\\\\");

flowVars.csvFileName = ${csvfile.name.counting} + flowVars.AbsEntry;
]]></expression-component>
        <logger message="Subflow create-file-parameters-jmc-counting ended." level="INFO" category="jmc_hh" doc:name="Logger"/>
    </sub-flow>
    <flow name="create-file-in-folder-flow">
        <logger message="Flow create-file-in-folder-flow ended" level="INFO" doc:name="Logger"/>
        <expression-component doc:name="Convert and create file"><![CDATA[acqua.util.CSVUtil.csvWriter(payload,flowVars.csvFileDir,flowVars.csvFileName);]]></expression-component>
        <logger level="INFO" doc:name="Logger" message="Flow create-file-in-folder-flow ended" category="jmc_hh"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <flow-ref name="create-file-in-folder-exception-flow" doc:name="create-file-in-folder-exception-flow"/>
        </catch-exception-strategy>
    </flow>
    <sub-flow name="create-file-in-folder-exception-flow">
        <flow-ref name="#[flowVars.nextFlow]" doc:name="var nextFlow"/>
    </sub-flow>
    <flow name="read-csv-file-flow">
        <file:inbound-endpoint path="/tmp/test" responseTimeout="10000" doc:name="File"/>
        <expression-component doc:name="Expression"><![CDATA[payload = acqua.util.CSVUtil.csvReader(message.payloadAs(String));]]></expression-component>
    </flow>
</mule>
