JMC-B1-APIs-Handheld/src/main/app/API/b1_hh_getListaPicking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="b1_hh_getListaPicking">
        <http:listener config-ref="HTTP_Listener_Configuration" path="getListaPicking" allowedMethods="POST" doc:name="HTTP"/>
        <expression-component doc:name="save info"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));
flowVars.entorno = payload.entorno;]]></expression-component>
        <expression-component doc:name="Parse ID"><![CDATA[flowVars.id = acqua.util.PickListParser.parseString(payload.codigobarra);
]]></expression-component>
        <choice doc:name="check if parse is OK">
            <when expression="#[flowVars.id != null]">
                <expression-component doc:name="Separate"><![CDATA[flowVars.socID = flowVars.id.id;
flowVars.pickCode = flowVars.id.code;
flowVars.id = null;]]></expression-component>
                <flow-ref name="b1_hh_global_setDBInfo" doc:name="set db info"/>
                <enricher source="#[payload]" target="#[flowVars.sociedad]" doc:name="Message Enricher">
                    <transformer ref="fetchSocietyID" doc:name="Fetch Society Code"/>
                </enricher>
                <transformer ref="fetchPickingOrder" doc:name="Fetch Picking Order"/>
                <expression-component doc:name="Expression"><![CDATA[payload.sociedad = flowVars.sociedad;]]></expression-component>
                <expression-component doc:name="Convert to JSON"><![CDATA[payload = acqua.util.JSONUtil.javaToJSONToString(payload);]]></expression-component>
                <logger message="getListaPicking respuesta: #[payload]" level="INFO" category="jmc_hh" doc:name="Logger"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;resultado&quot;:&quot;false&quot;, &quot;mensaje&quot;:&quot;Input de sociedad+lista incorrecto&quot;}" doc:name="Set Payload"/>
            </otherwise>
        </choice>

    </flow>
</mule>
