JMC-B1-APIs-Handheld/src/main/app/API/b1_hh_getStockUbicacion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="b1_hh_getStockUbicacion">
        <http:listener config-ref="HTTP_Listener_Configuration" path="getStockUbicacion" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="getStockUbicacion Input: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger" category="jmc_hh"/>
        <expression-component doc:name="save info"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));
flowVars.sociedad = payload.sociedad;
flowVars.codigo = payload.codigo;]]></expression-component>
        <flow-ref name="b1_hh_global_setDBInfo" doc:name="Copy_of_set DB info "/>


        <transformer ref="fetchStockUbicacion" doc:name="Fetch Info Stock"/>
        <expression-component doc:name="Convert to JSON"><![CDATA[payload = acqua.util.JSONUtil.javaListToJSONToString(payload);]]></expression-component>
        <logger message="getStockUbicacion respuesta: #[payload]" level="INFO" doc:name="Logger" category="jmc_hh"/>
    </flow>
</mule>
