b1_handheld/API/b1_hh_transferenciaStock.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="b1_hh_transferenciaStock">
        <http:listener config-ref="HTTP_Listener_Configuration" path="transferenciaStock" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="transferenciaStock recibido: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger" category="jmc_hh"/>
        <expression-component doc:name="Convert and save payload"><![CDATA[flowVars.inputData = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));
payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));;
flowVars.sociedad = flowVars.inputData.sociedad;
flowVars.origen = flowVars.inputData.origen.codigo;
flowVars.destino = flowVars.inputData.destino.codigo;
flowVars.almacenOrigen = flowVars.inputData.origen.deposito;
flowVars.almacenDestino = flowVars.inputData.destino.deposito;
flowVars.articulos = flowVars.inputData.articulos;
]]></expression-component>
        <flow-ref name="b1_hh_global_setDBInfo" doc:name="Copy_of_set DB info "/>

        <enricher source="#[payload]" target="#[flowVars.articulos]" doc:name="Message Enricher">
            <flow-ref name="b1_hh_transferenciaStock_fillUoMData" doc:name="Fill UoM Data"/>
        </enricher>
        <enricher source="#[payload]" target="#[flowVars.lotes]" doc:name="Message Enricher">
            <transformer ref="fetchBatch" doc:name="Transformer Reference"/>
        </enricher>

        <transformer ref="BuildTransferencia" doc:name="Build Recuento Inventario para Transferencia"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.result == false]">
                <set-payload value="{ &quot;resultado&quot; : &quot;#[flowVars.result]&quot;, &quot;mensaje&quot; : &quot;#[flowVars.cause]&quot;}" doc:name="Set answer"/>
            </when>
            <otherwise>
                <expression-component doc:name="save data"><![CDATA[flowVars.documentSaved = acqua.util.JSONUtil.javaToJSONToString(payload);
flowVars.destination = flowVars.sociedad;]]></expression-component>
                <flow-ref name="b1_hh_loginToSAP" doc:name="login to SAP"/>
                <flow-ref name="b1_hh_transferenciaStock_SendDocument" doc:name="Send Document"/>
                <logger message="#[payload]" level="INFO" doc:name="Logger" category="jmc_hh"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="b1_hh_transferenciaStock_fillUoMData">
        <transformer ref="fetchUoMCode" doc:name="Fill UoM Data"/>
    </flow>
    <flow name="b1_hh_transferenciaStock_SendDocument">
        <choice doc:name="Choice">
            <when expression="#[flowVars.loginResult.equals(&quot;OK&quot;)]">
                <set-payload value="#[flowVars.documentSaved]" doc:name="Set saved document as payload"/>
                <logger message="Body enviado TransfereciaStock: #[payload]" level="INFO" doc:name="Logger" category="jmc_hh"/>
                <http:request config-ref="HTTP_Request_Configuration" path="StockTransfers" method="POST" doc:name="Send stock transfer">
                    <http:success-status-code-validator values="200..299,404,400"/>
                </http:request>
                <choice doc:name="Choice">
                    <when expression="#[message.inboundProperties['http.status'] &lt; 300]">
                        <expression-component doc:name="Answer"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));]]></expression-component>
                        <set-payload value="{&quot;resultado&quot;:true}" doc:name="Set Payload"/>
                    </when>
                    <when expression="#[message.inboundProperties['http.status'] == 400]">
                        <expression-component doc:name="Set variables for report"><![CDATA[flowVars.status = message.inboundProperties["http.status"];
flowVars.reason = message.inboundProperties["http.reason"];
flowVars.payloadSent = flowVars.documentSaved;
flowVars.responseRecived = message.payloadAs(java.lang.String);
flowVars.method = "transferenciaStock (StockTransfers)";
flowVars.requestURL = "POST";]]></expression-component>
                        <expression-component doc:name="Convert to hash"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));]]></expression-component>
                        <set-payload value="{&quot;resultado&quot; : false, &quot;mensaje&quot;:&quot;#[acqua.util.WorkUtils.replaceAll(payload.error.message.value)]&quot;}" doc:name="Set Payload"/>
                        <expression-component doc:name="save payload"><![CDATA[flowVars.savePayloadForAnswer = payload;]]></expression-component>
                        <flow-ref name="B1_Sync_EmailReportingFlow" doc:name="Email report"/>
                        <expression-component doc:name="re-set payload"><![CDATA[payload = flowVars.savePayloadForAnswer;]]></expression-component>
                    </when>
                    <otherwise>
                        <expression-component doc:name="Set variables for report"><![CDATA[flowVars.status = message.inboundProperties["http.status"];
flowVars.reason = message.inboundProperties["http.reason"];
flowVars.payloadSent = flowVars.documentSaved;
flowVars.responseRecived = message.payloadAs(java.lang.String);
flowVars.method = "transferenciaStock (StockTransfers)";
flowVars.requestURL = "POST";]]></expression-component>
                        <flow-ref name="B1_Sync_EmailReportingFlow" doc:name="Email Report"/>
                        <set-payload value="{&quot;resultado&quot; : false, &quot;mensaje&quot;:&quot;#[acqua.util.WorkUtils.replaceAll(message.payloadAs(java.lang.String))]&quot;}" doc:name="Set Payload"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <set-payload value="{  &quot;resultado&quot;:false,&quot;mensaje&quot;:&quot;Fallo el login. Checkear logs.&quot; } " doc:name="Set answer for failure"/>
            </otherwise>
        </choice>
    </flow>

</mule>
