b1_handheld/API/b1_hh_getOrdenAbierta.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="b1_hh_getOrdenAbierta">
        <http:listener config-ref="HTTP_Listener_Configuration" path="getOrdenAbierta" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="getOrdenAbierta  Input: #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger" category="jmc_hh"/>
        <expression-component doc:name="save info"><![CDATA[payload = acqua.util.JSONUtil.stringToMap(message.payloadAs(java.lang.String));
flowVars.sociedad = payload.sociedad;
flowVars.almacen = payload.almacen;]]></expression-component>
        <flow-ref name="b1_hh_global_setDBInfo" doc:name="set DB info "/>

        <enricher source="#[payload]" target="#[flowVars.docNum]" doc:name="Message Enricher">
            <transformer ref="fetchOrdenesAlmacen" doc:name="Fetch Orden Abierta"/>
        </enricher>
        <choice doc:name="Choice">
            <when expression="#[flowVars.docNum.getClass().equals(java.lang.Integer) ? flowVars.docNum != 0 : false]">
                <set-payload value="{&quot;resultado&quot;: true, &quot;docNum&quot;:#[flowVars.docNum]}" doc:name="Set Payload OK"/>
            </when>
            <when expression="#[flowVars.docNum.getClass().equals(java.lang.Integer) ? false : true]">
                <set-payload value="{&quot;resultado&quot;:false, &quot;mensaje&quot;: &quot;error de base de datos: #[flowVars.docNum]&quot;}" doc:name="error base de datos"/>
            </when>
            <otherwise>
                <set-payload value="{&quot;resultado&quot;:false, &quot;mensaje&quot;:&quot;no existe una orden abierta&quot;}" doc:name="Set Payload Failure"/>
            </otherwise>
        </choice>
        <logger message="getOrdenAbierta respuesta: #[payload]" level="INFO" doc:name="Logger" category="jmc_hh"/>
    </flow>
</mule>
