JMC-B1-APIs-Handheld/src/main/app/getordenes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="Ordenes">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getOrdenes" allowedMethods="POST" doc:name="HTTP"/>
        <flow-ref name="SetCredentialsHeaders" doc:name="SetCredentialsHeaders"/>
        <flow-ref name="SapOrdenesRequest" doc:name="SapOrdenesRequest"/>
    </flow>
    <flow name="SapOrdenesRequest">
        <set-variable variableName="flowName" value="SapOrdenesRequest" doc:name="set flowName"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.CardName == null]">
                <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
                <set-variable variableName="CardName" value="#[message.payload.cardname]" doc:name="Set CardName"/>
            </when>
            <otherwise>
                <logger message="CardName already loaded." level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <logger message="[SAP Recuperar Ordenes de Compra GET] Por Proveedor : [#[flowVars.CardName]]" level="INFO" category="com.limpiolux" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/PurchaseOrders" method="GET" doc:name="GET OC from SAP">
            <http:request-builder>
                <http:query-param paramName="$filter" value="CardName eq '#[flowVars.CardName]' and DocumentStatus eq 'bost_Open'"/>
                <http:query-param paramName="$select" value="DocEntry, DocNum, DocumentLines"/>
                <http:header headerName="Set-Cookie" value="B1SESSION=#[flowVars.SessID]; path=/b1s; "/>
                <http:header headerName="Set-Cookie" value="ROUTEID=.node0; path=/b1s;"/>
            </http:request-builder>
        </http:request>
        <logger message="Respuesta SAP: #[message.payloadAs(java.lang.String)]" level="INFO" category="com.limpiolux" doc:name="Logger"/>
        <expression-component doc:name="JsonParser.jsonToObject(PurchaseOrders)"><![CDATA[payload = message.payloadAs(java.lang.String);
payload = com.acqua.tools.JsonParser.jsonToObject(payload, "com.acqua.model.OdataPO");
]]></expression-component>
        <set-payload value="#[payload.value]" doc:name="Set Payload"/>
        <foreach doc:name="For Each">
            <json:object-to-json-transformer doc:name="Object to JSON"/>
            <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
            <set-payload value="{ &quot;orden&quot;:&quot;#[payload.docNum]&quot; }" doc:name="Set Payload"/>
            <choice doc:name="Choice">
                <when expression="#[flowVars.ordenes != null]">
                    <set-variable variableName="ordenes" value="#[flowVars.ordenes],#[payload]" doc:name="Variable"/>
                </when>
                <otherwise>
                    <set-variable variableName="ordenes" value="#[payload]" doc:name="Variable"/>
                </otherwise>
            </choice>
        </foreach>
        <set-payload value="[ #[flowVars.ordenes] ]" mimeType="application/json" doc:name="Set Payload"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="User" value="#[flowVars.User]"/>
            <add-message-property key="Password" value="#[flowVars.Pass]"/>
            <add-message-property key="SessionID" value="#[flowVars.SessID]"/>
            <add-message-property key="Database" value="#[flowVars.DB]"/>
        </message-properties-transformer>
        <logger level="INFO" doc:name="Logger" category="com.limpiolux" message="Ordenes Recuperadas: #[payload]"/>
        <exception-strategy ref="http-status-Choice_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>

</mule>
