JMC-B1-APIs-Handheld/src/main/app/login.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

<flow name="Login">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Login" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="user" value="#[message.payload.user]" doc:name="Set User"/>
        <set-variable variableName="password" value="#[message.payload.pass]" doc:name="Set Pass"/>
        <set-variable variableName="db" value="#[message.payload.db_name]" doc:name="Set DB"/>
        <set-payload value="{
&quot;UserName&quot;: &quot;#[message.payload.user]&quot;,
&quot;Password&quot;: &quot;#[message.payload.pass]&quot;,
&quot;CompanyDB&quot;: &quot;#[message.payload.db_name]&quot;
}" mimeType="application/json" doc:name="Set Payload"/>
        <logger message="[SAP Request Login POST]  #[message.payloadAs(java.lang.String)]" level="INFO" category="com.limpiolux" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/Login" method="POST" doc:name="Login"/>
        <logger message="[SAP Response]  #[message.payloadAs(java.lang.String)]" level="INFO" category="com.limpiolux" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <message-properties-transformer doc:name="Set Creds to Headers">
            <add-message-property key="SessionID" value="#[message.payload.SessionId]"/>
            <add-message-property key="Password" value="#[flowVars.password]"/>
            <add-message-property key="User" value="#[flowVars.user]"/>
            <add-message-property key="Database" value="#[flowVars.db]"/>
        </message-properties-transformer>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.status'].equals(200)]">
                <set-payload value="Usuario: #[flowVars.user] confirmado." doc:name="Set Payload ok"/>
            </when>
            <otherwise>
                <set-payload value="Error al Iniciar Sesion." doc:name="Set Payload error"/>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="Usuario y/o Contrase&#241;a incorrecto
" doc:name="Set Payload"/>
            <set-property propertyName="http.status" value="200" doc:name="Property"/>
        </catch-exception-strategy>
    </flow>
    <flow name="LogOut">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/logOut" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="SetCredentialsHeaders" doc:name="SetCredentialsHeaders"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/Logout" method="POST" doc:name="HTTP">
            <http:request-builder>
               <http:header headerName="Set-Cookie" value="B1SESSION=#[flowVars.SessID]; path=/b1s; "/>
               <http:header headerName="Set-Cookie" value="ROUTEID=.node0; path=/b1s;"/>
            </http:request-builder>
        </http:request>
        <set-payload value="Sesi&#243;n Cerrada" doc:name="Set Payload"/>
    </flow>
</mule>
